.element {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .div {
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 19.5%,
    rgb(76.57, 76.57, 76.57) 100%
  );
  transition: all 0.2s ease;
  width: 1920px;
  height: 12589px;
  position: relative;
}

.element .overlap {
  position: absolute;
  width: 1961px;
  height: 1289px;
  top: 0;
  left: -21px;
}

.element .img {
  width: 1920px;
  height: 1200px;
  top: 0;
  left: 21px;
  position: absolute;
  object-fit: cover;
}

.element .rectangle {
  position: absolute;
  width: 1961px;
  height: 434px;
  top: 855px;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 40%);
}

.element .text-wrapper {
  position: absolute;
  width: 1556px;
  top: 415px;
  left: 215px;
  font-family: "Noto Sans KR-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 128px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .overlap-group {
  position: absolute;
  width: 1920px;
  height: 1329px;
  top: 1380px;
  left: 0;
}

.element .overlap-2 {
  position: absolute;
  width: 1920px;
  height: 1328px;
  top: 1px;
  left: 0;
}

.element .rectangle-2 {
  position: absolute;
  width: 1920px;
  height: 1007px;
  top: 321px;
  left: 0;
  background-color: #403030;
}

.element .rectangle-3 {
  position: absolute;
  width: 989px;
  height: 588px;
  top: 466px;
  left: 931px;
  background-color: #a05b5b;
}

.element .rectangle-4 {
  position: absolute;
  width: 484px;
  height: 334px;
  top: 994px;
  left: 0;
  background-color: #a05b5b;
}

.element .rectangle-5 {
  position: absolute;
  width: 698px;
  height: 505px;
  top: 0;
  left: 136px;
  background-color: #a05b5b;
}

.element .img-2 {
  width: 665px;
  height: 477px;
  top: 14px;
  left: 153px;
  position: absolute;
  object-fit: cover;
}

.element .img-3 {
  width: 965px;
  height: 541px;
  top: 490px;
  left: 955px;
  position: absolute;
  object-fit: cover;
}

.element .img-4 {
  position: absolute;
  width: 471px;
  height: 320px;
  top: 1008px;
  left: 0;
  object-fit: cover;
}

.element .text-wrapper-2 {
  position: absolute;
  width: 578px;
  top: 527px;
  left: 290px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: -1.08px;
  line-height: normal;
  white-space: nowrap;
}

.element .p {
  position: absolute;
  width: 578px;
  top: 635px;
  left: 290px;
  font-family: "Noto Sans KR-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.54px;
  line-height: 18px;
}

.element .span {
  letter-spacing: -0.1px;
  line-height: 24px;
}

.element .text-wrapper-3 {
  letter-spacing: -0.1px;
  line-height: 10px;
}

.element .text-wrapper-4 {
  letter-spacing: -0.1px;
  line-height: 25px;
}

.element .text-wrapper-5 {
  font-size: 20px;
  letter-spacing: -0.12px;
  line-height: 24px;
}

.element .element-h {
  width: 578px;
  top: 769px;
  left: 290px;
  letter-spacing: -0.54px;
  line-height: 18px;
  position: absolute;
  font-family: "Noto Sans KR-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
}

.element .vector {
  position: absolute;
  width: 445px;
  height: 5px;
  top: 592px;
  left: 290px;
}

.element .overlap-3 {
  position: absolute;
  width: 962px;
  height: 165px;
  top: 0;
  left: 912px;
}

.element .text-wrapper-6 {
  position: absolute;
  width: 962px;
  top: 0;
  left: 0;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.element .vector-2 {
  position: absolute;
  width: 887px;
  height: 5px;
  top: 122px;
  left: 0;
}

.element .overlap-4 {
  position: absolute;
  width: 1922px;
  height: 1426px;
  top: 3838px;
  left: 0;
}

.element .img-5 {
  width: 1920px;
  height: 1190px;
  top: 236px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.element .text-wrapper-7 {
  position: absolute;
  width: 570px;
  top: 535px;
  left: 1116px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: -1.08px;
  line-height: normal;
  white-space: nowrap;
}

.element .div-2 {
  position: absolute;
  width: 570px;
  top: 639px;
  left: 1116px;
  font-family: "Noto Sans KR-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
}

.element .text-wrapper-8 {
  font-size: 20px;
  letter-spacing: -0.12px;
  line-height: 9px;
}

.element .text-wrapper-9 {
  letter-spacing: 0;
  line-height: 9px;
}

.element .text-wrapper-10 {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
}

.element .div-3 {
  position: absolute;
  width: 570px;
  top: 766px;
  left: 1116px;
  font-family: "Noto Sans KR-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
}

.element .text-wrapper-11 {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 9px;
}

.element .element-km-h {
  width: 570px;
  top: 888px;
  left: 1116px;
  line-height: 18px;
  position: absolute;
  font-family: "Noto Sans KR-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
}

.element .text-wrapper-12 {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 10px;
}

.element .rectangle-6 {
  position: absolute;
  width: 1016px;
  height: 594px;
  top: 445px;
  left: 3px;
  background-color: #919191;
}

.element .rectangle-7 {
  position: absolute;
  width: 342px;
  height: 363px;
  top: 1063px;
  left: 1580px;
  background-color: #919191;
}

.element .rectangle-8 {
  position: absolute;
  width: 656px;
  height: 470px;
  top: 0;
  left: 1099px;
  background-color: #919191;
}

.element .img-6 {
  position: absolute;
  width: 624px;
  height: 442px;
  top: 14px;
  left: 1115px;
  object-fit: cover;
}

.element .img-7 {
  width: 324px;
  height: 350px;
  top: 1076px;
  left: 1596px;
  position: absolute;
  object-fit: cover;
}

.element .img-8 {
  width: 997px;
  height: 559px;
  top: 463px;
  left: 2px;
  position: absolute;
  object-fit: cover;
}

.element .vector-3 {
  position: absolute;
  width: 496px;
  height: 5px;
  top: 602px;
  left: 1116px;
}

.element .overlap-5 {
  position: absolute;
  width: 1408px;
  height: 834px;
  top: 2980px;
  left: 307px;
}

.element .overlap-6 {
  position: absolute;
  width: 1373px;
  height: 833px;
  top: 1px;
  left: 0;
}

.element .output-wrapper {
  position: absolute;
  width: 727px;
  height: 484px;
  top: 0;
  left: 0;
  background-color: #919191;
}

.element .output {
  position: absolute;
  width: 692px;
  height: 451px;
  top: 17px;
  left: 18px;
  object-fit: cover;
}

.element .overlap-7 {
  position: absolute;
  width: 1249px;
  height: 711px;
  top: 122px;
  left: 124px;
}

.element .text-wrapper-13 {
  position: absolute;
  width: 588px;
  top: 0;
  left: 661px;
  font-family: "Noto Sans KR-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.54px;
  line-height: 25px;
}

.element .vector-4 {
  position: absolute;
  width: 1070px;
  height: 334px;
  top: 378px;
  left: 0;
}

.element .text-wrapper-14 {
  position: absolute;
  width: 609px;
  top: 0;
  left: 770px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: -1.08px;
  line-height: normal;
}

.element .vector-5 {
  position: absolute;
  width: 623px;
  height: 5px;
  top: 86px;
  left: 785px;
}

.element .overlap-8 {
  position: absolute;
  width: 1917px;
  height: 1347px;
  top: 5858px;
  left: 3px;
}

.element .pedestrian-black-and {
  position: absolute;
  width: 1917px;
  height: 1273px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.element .rectangle-9 {
  position: absolute;
  width: 1220px;
  height: 993px;
  top: 354px;
  left: 347px;
  background-color: #000000;
  border-radius: 35px;
  opacity: 0.65;
}

.element .output-2 {
  position: absolute;
  width: 1043px;
  height: 432px;
  top: 408px;
  left: 436px;
  object-fit: cover;
}

.element .div-4 {
  position: absolute;
  width: 513px;
  top: 883px;
  left: 435px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: -0.9px;
  line-height: 30px;
}

.element .text-wrapper-15 {
  font-weight: 700;
  letter-spacing: -0.27px;
}

.element .text-wrapper-16 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.17px;
}

.element .text-wrapper-17 {
  font-family: "Noto Sans KR-Medium", Helvetica;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.1px;
  line-height: 26px;
}

.element .div-5 {
  position: absolute;
  width: 497px;
  top: 883px;
  left: 973px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: -0.9px;
  line-height: 30px;
}

.element .div-6 {
  position: absolute;
  width: 1567px;
  top: 7285px;
  left: 190px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: -1.08px;
  line-height: normal;
}

.element .text-wrapper-18 {
  font-weight: 700;
  letter-spacing: -0.39px;
}

.element .text-wrapper-19 {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: -0.04px;
}

.element .text-wrapper-20 {
  font-family: "Noto Sans KR-Medium", Helvetica;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: -0.31px;
}

.element .overlap-group-2 {
  position: absolute;
  width: 1920px;
  height: 3001px;
  top: 8179px;
  left: 0;
}

.element .img-9 {
  position: absolute;
  width: 1920px;
  height: 1407px;
  top: 1237px;
  left: 0;
  object-fit: cover;
}

.element .img-10 {
  position: absolute;
  width: 1915px;
  height: 1241px;
  top: 0;
  left: 5px;
  object-fit: cover;
}

.element .union {
  position: absolute;
  width: 1363px;
  height: 2606px;
  top: 395px;
  left: 0;
}

.element .rectangle-10 {
  position: absolute;
  width: 498px;
  height: 508px;
  top: 237px;
  left: 322px;
  background-color: #000000;
  border-radius: 35px;
  opacity: 0.65;
}

.element .rectangle-11 {
  position: absolute;
  width: 802px;
  height: 529px;
  top: 1003px;
  left: 1076px;
  background-color: #000000;
  border-radius: 35px;
  opacity: 0.65;
}

.element .rectangle-12 {
  position: absolute;
  width: 696px;
  height: 501px;
  top: 1639px;
  left: 164px;
  background-color: #000000;
  border-radius: 35px;
  opacity: 0.65;
}

.element .rectangle-13 {
  position: absolute;
  width: 671px;
  height: 569px;
  top: 2397px;
  left: 1075px;
  background-color: #000000;
  border-radius: 35px;
  opacity: 0.65;
}

.element .rectangle-14 {
  position: absolute;
  width: 884px;
  height: 495px;
  top: 237px;
  left: 845px;
  background-color: #d9d9d9;
}

.element .div-7 {
  position: absolute;
  width: 460px;
  top: 262px;
  left: 346px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: -0.9px;
  line-height: normal;
}

.element .text-wrapper-21 {
  font-family: "Noto Sans KR-Medium", Helvetica;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.1px;
}

.element .div-8 {
  position: absolute;
  width: 460px;
  top: 499px;
  left: 347px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: -0.9px;
  line-height: normal;
}

.element .rectangle-15 {
  position: absolute;
  width: 781px;
  height: 446px;
  top: 1003px;
  left: 261px;
  background-color: #d9d9d9;
}

.element .rectangle-16 {
  position: absolute;
  width: 825px;
  height: 471px;
  top: 1639px;
  left: 888px;
  background-color: #d9d9d9;
}

.element .rectangle-17 {
  position: absolute;
  width: 825px;
  height: 471px;
  top: 2408px;
  left: 212px;
  background-color: #d9d9d9;
}

.element .img-11 {
  position: absolute;
  width: 852px;
  height: 461px;
  top: 255px;
  left: 861px;
  object-fit: cover;
}

.element .img-12 {
  width: 794px;
  height: 454px;
  top: 2417px;
  left: 228px;
  position: absolute;
  object-fit: cover;
}

.element .img-13 {
  width: 795px;
  height: 448px;
  top: 1650px;
  left: 903px;
  position: absolute;
  object-fit: cover;
}

.element .img-14 {
  width: 755px;
  height: 424px;
  top: 1014px;
  left: 274px;
  position: absolute;
  object-fit: cover;
}

.element .text-wrapper-22 {
  position: absolute;
  width: 570px;
  top: 1668px;
  left: 227px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: -0.9px;
  line-height: normal;
  white-space: nowrap;
}

.element .suburbanization {
  position: absolute;
  width: 570px;
  top: 1721px;
  left: 227px;
  font-family: "Noto Sans KR-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.54px;
  line-height: 24px;
}

.element .EV {
  width: 570px;
  top: 1970px;
  left: 227px;
  letter-spacing: -0.54px;
  line-height: 24px;
  position: absolute;
  font-family: "Noto Sans KR-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
}

.element .div-9 {
  position: absolute;
  width: 750px;
  top: 1024px;
  left: 1101px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: -0.9px;
  line-height: 30px;
}

.element .text-wrapper-23 {
  font-weight: 700;
  letter-spacing: -0.27px;
  line-height: 13px;
}

.element .div-10 {
  position: absolute;
  width: 750px;
  top: 1242px;
  left: 1102px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: -0.9px;
  line-height: 30px;
}

.element .text {
  display: flex;
  flex-direction: column;
  width: 570px;
  height: 508px;
  align-items: flex-start;
  gap: 30px;
  position: absolute;
  top: 2429px;
  left: 1118px;
}

.element .text-wrapper-24 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: -0.9px;
  line-height: normal;
}

.element .text-wrapper-25 {
  position: relative;
  align-self: stretch;
  height: 218px;
  font-family: "Noto Sans KR-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.54px;
  line-height: 24px;
}

.element .e-g-TGV {
  position: relative;
  align-self: stretch;
  height: 187px;
  font-family: "Noto Sans KR-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.54px;
  line-height: 24px;
}

.element .overlap-9 {
  position: absolute;
  width: 1130px;
  height: 545px;
  top: 5295px;
  left: 313px;
}

.element .text-wrapper-26 {
  position: absolute;
  width: 675px;
  top: 387px;
  left: 323px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .ellipse {
  top: 301px;
  left: 610px;
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #d9d9d9;
  border-radius: 23px;
}

.element .ellipse-2 {
  top: 301px;
  left: 665px;
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #d9d9d9;
  border-radius: 23px;
}

.element .vector-6 {
  position: absolute;
  width: 1130px;
  height: 545px;
  top: 0;
  left: 0;
}

.element .overlap-10 {
  position: absolute;
  width: 952px;
  height: 652px;
  top: 7497px;
  left: 361px;
}

.element .text-wrapper-27 {
  position: absolute;
  width: 675px;
  top: 466px;
  left: 277px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .ellipse-3 {
  top: 380px;
  left: 564px;
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #d9d9d9;
  border-radius: 23px;
}

.element .ellipse-4 {
  top: 380px;
  left: 619px;
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #d9d9d9;
  border-radius: 23px;
}

.element .vector-7 {
  position: absolute;
  width: 889px;
  height: 652px;
  top: 0;
  left: 0;
}

.element .vector-8 {
  position: absolute;
  width: 777px;
  height: 231px;
  top: 2726px;
  left: 426px;
}
